#configPane {
    -fx-background-color: rgba(0, 0, 0, 1);
}

#configScrollPane {
    -fx-background-color: rgba(0, 0, 0, 1);
}

#configAccordion {
    -fx-background-color: rgba(0, 0, 0, 1);
}

.accordion {
    -fx-background-color: rgb(0, 0, 0);
}

.titled-pane > .title {
    -fx-background-color: rgb(0, 0, 0);
}

.titled-pane > .title > .text {
    -fx-background-color: rgb(0, 0, 0);
    -fx-fill: white;
}

.titled-pane > *.content {
    -fx-background-color: rgb(0, 0, 0);
    -fx-text: white;
}

.scroll-pane {
    -fx-background: rgb(0, 0, 0);
}

.scroll-pane > .corner {
    -fx-background-color: black;
}

.anchor-pane {
    -fx-background-color: black;
}